.side-bar
  .side-header
    .side-header__name
      kaito
    .side-header__lists
      .list
        = link_to do
          =icon 'fas','edit', class: "icon"
      .list
        = link_to do
          =icon 'fas','cog', class: "icon"

  .groups
    .group
      .group__name
        グループ１
      .group__message
        頑張ろう
    .group
      .group__name
        グループ２
      .group__message
        頑張ろう